body, html {
    margin: 0;
    padding: 0;
    height: 99vh;
    width: 99vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    background-color: azure;
    width: 50px;
    height: 50px;
}
/*

#gameWindow {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: solid red 2px;
}
*/

.gameOverWindow {
    height: 500px;
    width: 500px;
    background-color: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}
